#loading {
    background: rgba(255, 255, 255, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
